@font-face {
    font-family: customFont;
    src: url(Dhurjati-Regular.ttf)
}

body,
html {
    margin: unset;
    padding: unset;
    color: #000;
    overflow: hidden;
    background: transparent
}

*,
* * {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    font-family: customFont
}

img {
    background-color: transparent
}

#appVer {
    right: 10px
}

#appVer,
#stat {
    position: fixed;
    bottom: 5px
}

#stat {
    left: 10px
}